services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "9000"
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - appnet
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: hms-hms-jeh7rx
      DB_PORT: 5432
      DB_DATABASE: hms_db
      DB_USERNAME: hms_env_prod
      DB_PASSWORD: KT@Manohar#2025
    command: php -S 0.0.0.0:8000 -t public

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: laravel_db
      POSTGRES_USER: laravel_user
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - appnet
    command: ["nginx", "-g", "daemon off;"]

volumes:
  pgdata: {}

networks:
  appnet:
