.panel .panel-footer {
    background: #F5F5F5;
    border: 0px;
    border-top: 1px solid #E3E3E3;
    line-height: 30px;
    padding: 10px;
}
.panel .panel-heading, .panel .panel-footer, .panel .panel-body {
    float: left;
    width: 100%;
}
.clearfix {
    zoom: 1;
}
.pull-right {
    float: right!important;
}
.pagination {
    width: 100%;
    margin: 10px 0px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.current {
    background: #6346ec !important;
}
.pagination > li > a, .pagination > li > span {
    margin-left: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #22262e;
    border-color: #E5E5E5;
}